.wrapper {
	position: relative;
	display: inline-flex;
	width: 100%;
}

.input {
	padding-right: var(--space-6);
}

.adornment {
	position: absolute;
	top: 50%;
	right: var(--space-3);
	transform: translateY(-50%);
	display: inline-flex;
	line-height: 0;
}
